.para1{
  background-color:rgba(181, 0, 0,0.1);
}
.para2{
  background-color:rgba(181, 0, 0,0.4);
}
.para3{
  background-color:rgba(181, 0, 0,0.6);
}
.para4{
  background-color:rgba(181, 0, 0,0.8);
}
.para5{
  background-color:rgb(181, 0, 0,1);
}

.para1{
  background-color:rgba(181, 0, 0,0.2);
}
.para2{
  background-color:rgba(181, 0, 0,0.4);
}
.para3{
  background-color:rgba(181, 0, 0,0.6);
}
.para4{
  background-color:rgba(181, 0, 0,0.8);
}
.para5{
  background-color:rgba(181,0,0,1);
}

