.box1{
  width:200px;
  height: 200px;
  border:10px solid rgb(0, 149, 255);
  font-size:15px;
  padding : 50px 50px 50px 50px;
  margin: 100px 50px;
}
.box2{
  width: 200px;
  height: 200px;
  border:10px solid rgb(0, 149, 255);
  font-size:15px;
  padding : 50px 50px 50px 50px;
  margin: 100px 50px;
}
.box3{
  width:200px;
  height:200px;
  border:10px solid rgb(0,149,255);
  font-size:15px;
  padding : 50px 50px 50px 50px;
  margin: 100px 50px;
}