p{
  background-color: red;
  color:black;
  font-size: 54px;
  }
  h1{
    color:green !important;
    }
  div{
      background-color: bisque;
      color: rgb(255, 0, 221);
    }
  h4{
    color:#f8f40b;
  }